
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<h1 class="text-center text-bg-info mb-5">Welcome to Student Management System !</h1>

@Html.ActionLink("Student Login", "Login", "Student", new { @class = "btn btn-primary col-3 pt-3 pb-3 fw-bolder" })

@Html.ActionLink("Student Register", "Register", "Student", new { @class = "btn btn-primary col-3 pt-3 pb-3 fw-bolder" })

